:root {
    --stickyheadercolor: #303952;
}
* {
    font-family: "Cambria", "Baskerville", "Big Caslon", "Palatino Linotype", "Palatino", serif;
}

/*The main header*/
#headermain {
    position:relative;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    background-color: #574b90;
    color:white;
    padding-left:5%;
    width:100%;
    padding-top:6.5%;
    padding-bottom:6.5%;
    user-select: none;
}

#headermain h1 {
    font-size: 4em;
    color: white;
    margin-top: 4%;
    max-width: 10em;
    text-align: center;
    font-weight: normal;
}

#profile {
    margin-top: 4%;
    user-select: none;
}

/*The sticky header*/
#headersticky {
    position:sticky;
    background-color:var(--stickyheadercolor);
    top:0;
    padding-top:10px;
    padding-bottom:10px;
    user-select: none;
}

.seperator {
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: var(--stickyheadercolor);
}

nav {
    text-align:center;
}

.nav {
    font-size: 1.5em;
    text-decoration:none;
    color:white;
}

.nav:hover {
    color: #c44569;
}

/*Dropdown menu (minus general link styles)*/
#dropdown {
    position:relative;
    display: inline-block;
}

#dropdowncontent {
    position:absolute;
    display: none;
    width: 200%;
    background-color:var(--stickyheadercolor) ;
    text-decoration:none;
    font-size: .75em;
    color: white;
    z-index: 1;
}

#dropdown:hover #dropdowncontent {
    display: block;
}

/*Main body images*/
.folioimage {
    display: inline;
}


/*Responsive Tweaks*/
@media only screen and (max-width: 500px) {
    .seperator {
        padding-left: 0em;
        padding-right: 0em;
    }
    .headermain h1 {
        font-size: 1px;
    }
}

