:root {
    --stickyheadercolor: #303952;
}
* {
    font-family: perpetua, Baskerville, Big Caslon, Palatino Linotype, Palatino, serif;
}

#headermain {
    position:relative;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    background-color: #574b90;
    color:white;
    padding-left:5%;
    width:100%;
    padding-top:7%;
    padding-bottom:7%;
    user-select: none;
}

#headermain h1 {
    font-size: 4em;
    color: white;
    padding-top: 4%;
    max-width: 10em;
}

#profile {
    margin-top: 4%;
    user-select: none;
}

#headersticky {
    position:sticky;
    background-color:var(--stickyheadercolor);
    top:0;
    padding-top:10px;
    padding-bottom:10px;
    user-select: none;
}

.seperator {
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: var(--stickyheadercolor);
}

nav {
    text-align:center;
}

.nav {
    font-size: 2em;
    text-decoration:none;
    color:white;
}

.nav:hover {
    color: #c44569;
}

#dropdown {
    position:relative;
    display: inline-block;
}

#dropdowncontent {
    position:absolute;
    display: none;
    width: 200%;
    margin-left:auto;
    margin-right: auto;
    text-overflow: auto;
    background-color:var(--stickyheadercolor) ;
    text-decoration:none;
    text-align: center;
    font-size: .75em;
    color: white;
    padding: 6px 8px;
    z-index: 1;
}

#dropdown:hover #dropdowncontent {
    display: block;
}


